In [ ]:
from bs4 import BeautifulSoup as bs
import requests
from tqdm import tqdm 
import json
import os
import datetime
import re
import glob
import csv
import time
import pandas as pd
from nltk.stem import *
from collections import Counter
from functools import reduce
import numpy as np
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk import tokenize
import datatable as dt

In [ ]:
#TODO
#EDA
#do Lemmatization in the Data Cleaning 
#Create all the missing tsv
#Clean and comment the code
#CHECK EFFICIENCY 1.2 and 1.3
#Parse list before saving into

### 1. Data collection
## 1.1. Get the list of places

In [ ]:
total_link = []
s = requests.Session()
for n in tqdm(range(1,401)):
    url = f'https://www.atlasobscura.com/places?page={n}&sort=likes_count'
    result = s.get(url)
    soup = bs(result.text)
    puf = soup.find_all("a", {'class': 'content-card content-card-place'})
    for x in puf:
        total_link.append(x['href'])

In [ ]:
f = open('total_link.txt',"r")
total_link = f.read().split("\n")

## 1.2. Crawl places

In [ ]:
def downloadPage(start,end, array):
    count_link = ((start-1)*18)+1
    count_page = start
    
    parent_dir = f'./all_Pages'
    s = requests.Session()
    header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    for x in tqdm(range(start, end)):
        if count_link%10 == 0:
            s = requests.Session()
        if count_link%18 == 1:
            path = os.path.join(parent_dir, f"folder_{count_page}")
            os.mkdir(path)
        for y in range(18):
            url = f'https://www.atlasobscura.com{array[count_link-1]}'
            name_file = f'location_{count_link}'
            name_folder = f'folder_{count_page}'
            with open(f'./all_Pages/{name_folder}/{name_file}.html', 'w', encoding='utf8') as fp:
                req = s.get(url, headers = header)
                fp.write(req.text)
                if req.status_code != 200:
                     time.sleep(120)
                     req = s.get(url, headers = header)
                fp.write(s.get(url).text)
            if count_link%18 == 0:
                count_page += 1
            count_link += 1

## 1.3 Parse downloaded pages

In [ ]:

def save_TSV():
    os.mkdir("TSV Files")
    for x in os.listdir("all_Pages"):
        for y in os.listdir(f'all_Pages/{x}'):
            with open(f'./all_Pages/{x}/{y}', encoding='utf8') as f:
                p = f.read()
                soup =  bs(p)
                pageAttribute = []
                placeName = findPlaceName(soup)
                placeTags = findPlaceTags(soup)
                numPeopleVisited = findNumPeopleVisited(soup)
                numPeopleWant = findNumPeopleWant(soup)
                placeDesc = findDescription(soup)
                placeShortDesc = findShortDescription(soup)
                placeNearby = findNearbyPlaces(soup)
                placeAddress = findAddress(soup)
                placeAlt, placeLong = findCordinates(soup)
                placeEditors = findPostEditors(soup)
                placePubDate = findPublishingDate(soup)
                placeRelatedList = findPlaceNear(soup)
                placeRelatedPlaces = findRelatedPlaces(soup)
                placeURL = findPageURL(soup)
                with open(f'./TSV Files/{y[:-5]}.tvs', 'wt', encoding='utf8') as fp:
                    csv.writer(fp, delimiter='\t').writerow([placeName, placeTags, numPeopleVisited, numPeopleWant, placeDesc, placeShortDesc, placeNearby, placeAddress, placeAlt, placeLong, placeEditors, placePubDate, placeRelatedList, placeRelatedPlaces, placeURL])

In [ ]:

def download_TSV():
    os.mkdir("TSV Files")
    a = 0
    for path in tqdm(glob.glob(r"all_Pages/*/*")):
        with open(path, encoding='utf8') as f:
                    a += 1
                    p = f.read()
                    soup =  bs(p)
                    pageAttribute = []
                    placeName = findPlaceName(soup)
                    placeTags = findPlaceTags(soup)
                    placeTags = ",".join(placeTags)
                    numPeopleVisited = findNumPeopleVisited(soup)
                    numPeopleWant = findNumPeopleWant(soup)
                    placeDesc = findDescription(soup)
                    placeDesc = " ".join(placeDesc)
                    placeShortDesc = findShortDescription(soup)
                    placeNearby = findNearbyPlaces(soup)
                    placeNearby = ",".join(placeNearby)
                    placeAddress = findAddress(soup)
                    placeAlt, placeLong = findCordinates(soup)
                    placeEditors = findPostEditors(soup)
                    placeEditors = ",".join(placeEditors)
                    placePubDate = findPublishingDate(soup)
                    placeRelatedList = findPlaceNear(soup)
                    placeRelatedList = ",".join(placeRelatedList)
                    placeRelatedPlaces = findRelatedPlaces(soup)
                    placeRelatedPlaces = ",".join(placeRelatedPlaces)
                    placeURL = findPageURL(soup)
                    with open(f'./TSV Files/{a}.tvs', 'wt', encoding='utf8') as fp:
                        csv.writer(fp, delimiter='\t').writerow([placeName, placeTags, numPeopleVisited, numPeopleWant, placeDesc, placeShortDesc, placeNearby, placeAddress, placeAlt, placeLong, placeEditors, placePubDate, placeRelatedList, placeRelatedPlaces, placeURL])

In [ ]:
download_TSV()

In [ ]:
def findPlaceName(soup):
    placeName = soup.find("h1", {"class": "DDPage__header-title"})
    if placeName != None:
        placeName = placeName.text
    #placeName = re.sub('[A-Za-z0-9_.,! "]*' ,'',placeName)
    return placeName

def findPlaceTags(soup):
    tags = []
    placeTags = soup.find_all("a", {"class": "itemTags__link js-item-tags-link"})
    for tag in placeTags:
        t = tag.text.replace("\n", "")
        #t = re.sub('[A-Za-z0-9 _.,!"]*','',t)
        tags.append(t)
    return tags

def findNumPeopleVisited(soup):
    peopleVisited = soup.find_all("div", {"class": "title-md item-action-count"})
    if len(peopleVisited) > 0:
        peopleVisited = int(peopleVisited[0].text)
    return peopleVisited

def findNumPeopleWant(soup):
    peopleVisited = soup.find_all("div", {"class": "title-md item-action-count"})
    if len(peopleVisited) > 0:
        peopleVisited = int(peopleVisited[1].text)
    return peopleVisited

def findDescription(soup):
    all_description = []
    descriptions = soup.find_all("div", {"class": "DDP__body-copy"})
    for description in descriptions:
        d = description.text.replace("\n","")
        all_description.append(d)
    return all_description

def findShortDescription(soup):
    shortDescription = soup.find("h3", {"class": "DDPage__header-dek"})
    if shortDescription != None:
        shortDescription = shortDescription.text.replace("\n", "")
    return shortDescription

def findNearbyPlaces(soup):
    nearPlaces = []
    nearbyPlaces = soup.find_all("div", {"class": "DDPageSiderailRecirc__item-title"})
    if nearbyPlaces != None:
        for place in nearbyPlaces:
            p = place.text.replace("\n","")
            nearPlaces.append(p)
        #Convert the list to set, and then back again to list to remove repetition
    return set(nearPlaces)

def findAddress(soup):
    strings = []
    adress_strings = soup.find("address", {"class": "DDPageSiderail__address"})
    if adress_strings != None:
        adress_strings = adress_strings.find("div")
        for info in adress_strings:
            s = info.text.replace("\n", "")
            if s != "":
                strings.append(s)
        if len(strings) > 3:
            return " ".join(strings[:3])
    else:
        return " "

def findCordinates(soup):

    cordinates = soup.find("div", {"class":"DDPageSiderail__coordinates js-copy-coordinates"})
    if cordinates != None:
        return cordinates.text.replace("\n", "").replace(" ","").split(",")
    return " ", " "

def findPostEditors(soup):
    all_editors =[]
    editors = soup.find_all("a", {"class":"DDPContributorsList__contributor"})         
    for person in editors:
        s = person.text.replace("\n", "")
        all_editors.append(s)
    return all_editors

def findPublishingDate(soup):
    #Pick the right info
    dateString = soup.find("div", {"class":"DDPContributor__name"}) 
    #Let's clean the string
    if dateString != None:
        s = dateString.text.replace("\n", "")
        #Let's modify it for the right format of datetime
        split = s.split()
        #Let's convert the string Month into the corrispondent number by using "strptime()" 
        split[0] = str(datetime.datetime.strptime(split[0], '%B').month)
        #My format
        format = "%m %d, %Y"
        #Convert from String to datetime
        date = datetime.datetime.strptime(" ".join(split), format)
        return date
    else:
        return ""

def findPlaceNear(soup):
    lists =[]
    relatedLists = soup.find("div", {"data-gtm-template":"DDP Footer Recirc Nearby"})
    if relatedLists != None:
        relatedLists = relatedLists.find_all("h3", {"class":"Card__heading --content-card-v2-title js-title-content"})
        for list in relatedLists:
            s = list.text.replace("\n", "")
            #s = re.sub('[A-Za-z0-9 _.,!"]*','',s)
            lists.append(s)
    return lists

def findRelatedPlaces(soup):
    lists =[]
    relatedLists = soup.find("div", {"data-gtm-template":"DDP Footer Recirc Related"})
    if relatedLists != None:
        relatedLists = relatedLists.find_all("h3", {"class":"Card__heading --content-card-v2-title js-title-content"})
        for list in relatedLists:
            s = list.text.replace("\n", "")
            #s = re.sub('[A-Za-z0-9 _.,!"]*','',s)
            lists.append(s)
    return lists

def findPageURL(soup):
    numVisitedPeople = soup.find("link", {"rel":"canonical"})
    return numVisitedPeople['href']

## Load all the tsv file into one pandas dataframe

We decided to save all the .tsv file as one joined .csv where every file rappresents one row of the .csv file, so that we can work and access the data without having to read 7200 tsv file each time. The data are stored in the "tsv_dataframe"

This mean that the function load_tsv() has only been executed once. The other iteration we just read the .csv file

In [ ]:

def load_tsv():
    tsv = []
    dtypes = {}
    for x in tqdm(os.listdir("TSV Files")):
        df = pd.read_csv(f'TSV Files/{x}',
            sep="\t",
            header=None,
            names=["placeName", "placeTags", "numPeopleVisited", "numPeopleWant", "placeDesc", "placeShortDesc", "placeNearby","placeAdress", "placeAlt", "placeLong", "placeEditors","placePubDate", "placeRelatedList", "placeRelatedPlace", "placeURL"])
        tsv.append(df)

    return pd.concat(tsv)

In [ ]:
# data = load_tsv()
data = pd.read_csv("tsv_dataframe.csv",index_col=0)

#Reset Index
data.reset_index(inplace = True, drop=True)

In [ ]:
data.info()

In [32]:
data.head()

,placeName,placeTags,numPeopleVisited,numPeopleWant,placeDesc,placeShortDesc,placeNearby,placeAdress,placeAlt,placeLong,placeEditors,placePubDate,placeRelatedList,placeRelatedPlace,placeURL
0,City Hall Station,"subways,subterranean,infrastructure,subterrane...",1834,8603,The first New York City subway was built and o...,A beautiful and abandoned New York subway stat...,"The Sugar House Prison Window,Tunnel Number 3,...","31 Centre St New York, New York, 10007 United ...",40.7134,-74.0046,"Rebekah Otto,Annetta Black,Allan,charding407,w...",2010-05-08 00:00:00,"African Burial Ground National Monument,Tunnel...","Crystal Palace Subway,Moscow Metro Stations,Ro...",https://www.atlasobscura.com/places/city-hall-...
1,The Winchester Mystery House,"follies and grottoes,outsider architecture,ecc...",3723,5209,In 1886 an eccentric woman named Sarah Winches...,A peculiar mansion built by the troubled heir ...,"Rosicrucian Park,Rosicrucian Egyptian Museum,S...","525 South Winchester Boulevard San Jose, Calif...",37.3189,-121.9506,"mbison,Avoiding Regret,PrestonW,Collin,Destina...",2008-11-21 00:00:00,"Santana Row Chess Plaza,Rosicrucian Park,Rosic...","Casa de Piedra (Stone House),Portmeirion Villa...",https://www.atlasobscura.com/places/winchester...
2,Center for Puppetry Arts,"sesame street,puppets,museums",705,1027,"If you know your Gonzo from your Gelflings, yo...",The largest puppetry museum in the USA houses ...,"Breman Museum,The Consulate,Atlanta Monetary M...","1404 Spring St Atlanta, Georgia United States",33.7927,-84.3896,"kendallmbailey,Martin,andydoesit,We All Pod Do...",2018-11-12 00:00:00,"Breman Museum,Atlanta Monetary Museum,The Cons...","Portland Puppet Museum,Museu da Marioneta (Mus...",https://www.atlasobscura.com/places/center-for...
3,Amityville Horror House,"hoaxes and pseudoscience,haunted,film location...",367,831,"On a cold November night in 1974, Amityville, ...",The site of a tragic massacre that spawned a m...,"The Long Island Puppet Theater,Pilgrim Psychia...","112 Ocean Avenue Amityville, New York, 11701 U...",40.6665,-73.4143,"EricGrundhauser,MandrewPatinkin,lendog666,Mart...",2013-10-17 00:00:00,"The Long Island Puppet Theater,Fire Island Lig...","Conanicut Island Lighthouse,Lovell Health Hous...",https://www.atlasobscura.com/places/amityville...
4,Yuma Territorial Prison,"prisons,crime and punishment",422,833,"On July 1, 1876, the first seven inmates enter...",Walk through the actual strap iron cells and s...,"Valley of the Names,Felicity, California: Cent...","1 Prison Hill Rd Yuma, Arizona, 85364 United S...",32.7266,-114.6144,"desertfairy,mbison,CorpseLady84,Avoiding Regre...",2010-04-01 00:00:00,"Felicity, California: Center of the World,Vall...","Buckley's Cave,Palazzo d'Avalos,Oxford Castle ...",https://www.atlasobscura.com/places/yuma-terri...

In [44]:
data.sort_values('numPeopleWant')

,placeName,placeTags,numPeopleVisited,numPeopleWant,placeDesc,placeShortDesc,placeNearby,placeAdress,placeAlt,placeLong,placeEditors,placePubDate,placeRelatedList,placeRelatedPlace,placeURL
4186,Shangri La Botanical Gardens & Nature Center,NaN,0,2,“…I determined to gather together all things o...,Cradled in the midst of a southeast Texas town...,"Null Island,Black Star Square,Cape Coast Castle",NaN,0.0000,0.0000,erjeffery,NaN,NaN,NaN,https://www.atlasobscura.com/places/shangri-la...
5597,Daewonsa Temple,"dragons,buddhism,temples",27,406,Daewonsa Temple isn’t like the other temples d...,"To enter the lower hall of this temple, you mu...","Bunhwangsa,Jusanji Pond,Guryongpo Japanese Hou...","Pohang South Korea 36.1472, 129.3937Book a hot...",36.1472,129.3937,wanderingtraveler,2018-06-13 00:00:00,"Guryongpo Japanese House Street,Jusanji Pond,B...","Wat Tham Ta Pan,Bunhwangsa,Guiyuan Temple,Chau...",https://www.atlasobscura.com/places/daewonsa-t...
5608,Miniatur Wunderland,"small worlds and model towns,dioramas,models,m...",523,406,"Hamburg, famous for its hats and ground meat p...",Model Trains and Much More in Hamburg.,"Harry’s Harbor Bazaar,St. Nicholas' Church,Obe...",Miniatur Wunderland Hamburg Kehrwieder 4 Hambu...,53.5439,9.9884,"NathanRisinger,Thomas,Collector of Experiences...",2012-06-19 00:00:00,"Harry’s Harbor Bazaar,St. Nicholas' Church,Obe...","The Jaca Citadel Military Miniatures Museum,No...",https://www.atlasobscura.com/places/miniatur-w...
5607,The Golden Gal of Old Madison Square Garden,"monuments,statues",769,406,There have been four renditions of New York’s ...,"Golden and naked, the figure that was once the...","Rocky Statue,'Celebration of Water' Sculpture,...",Philadelphia Museum of Art 2600 Benjamin Frank...,39.9656,-75.1810,"Luke J Spencer,ghostfilm,Jaszmina Szendrey,Nat...",2014-07-25 00:00:00,"Rocky Statue,'Celebration of Water' Sculpture,...","Dżok the Dog Monument,Eight-Hour-Day Monument,...",https://www.atlasobscura.com/places/the-golden...
5606,Schiessentümpel,"jrr tolkien,fantasy,waterfalls,natural wonders...",138,406,In the eastern region of Luxembourg there is a...,This tri-part waterfall is a little bit of fai...,"Beaufort Castles,Hohllay Cave ,Bock Casemates","Schiessentümpel Beidweiler, 6238 Luxembourg",49.7848,6.3009,"David W,knoflookperser,Mike Portanova",2015-08-25 00:00:00,"Hohllay Cave ,Beaufort Castles,Bock Casemates,...","Cascade Falls,Valaste Waterfall,Njupeskärs Vat...",https://www.atlasobscura.com/places/schiessent...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,Catacombes de Paris,"ossuaries,memento mori,catacombs and crypts,su...",4455,7057,"In 2004, Parisian police were assigned to do a...","The vast, legendary catacombs hold secrets muc...","Sculptures de Décure,Jeannot's Floor,Arago Med...","1 Place Denfert-Rochereau Paris, 75014 France",48.8343,2.3322,"CPilgrim,K8ecat,SEANETTA,ricksteffstrip,simone...",2009-02-13 00:00:00,"Sculptures de Décure,Arago Medallions,Jeannot'...","Ossario di San Martino,Leuk Charnel House,Sant...",https://www.atlasobscura.com/places/catacombes...
334,The Wave Organ,"sea organ,aletrail,sounds,music,outsider art,c...",2431,7422,"Located on a jetty in the San Francisco Bay, t...",A huge musical instrument played by the ocean.,"The Stern of the Brigantine Galilee,Palace of ...","83 Marina Green Dr San Francisco, California, ...",37.8085,-122.4401,"mbison,hana,bylow1md,jadeimason,Blindcolour,Sa...",2008-11-21 00:00:00,"Long Now Orrery,The Stern of the Brigantine Ga...","Sea Organ,Silent Green Kulturquartier,St. John...",https://www.atlasobscura.com/places/wave-organ
223,Leadenhall Market,"markets,film locations,film",3142,7593,The ornate 19th-century painted roof and cobbl...,This ornate Victorian marketplace was the sett...,"The Cornhill Devils ,London's Original and All...","London, England, EC3V United Kingdom 51.5126, ...",51.5126,-0.0834,"Meg,Katecrimson,MagnumPI,honeytea,philoursmars...",2016-08-01 00:00:00,"The Cornhill Devils ,London's Original and All...","Rivendell,Bagdad Cafe,Gare de la Ciotat,Drvengrad",https://www.atlasobscura.com/places/leadenhall...
112,Highgate Cemetery,"rivals week,vampires,hoaxes,occult,catacombs,c...",2624,8206,"Opened in 1839, Highgate is one of London’s mo...",London's creepiest cemetery was once the site ...,"Parkland Walk,Dick Whittington’s Cat ,World's ...","Swain's Lane, Highgate London, England, N6 Uni...",51.5675,-0.1483,"thedyerghoulhouse,SEANETTA,Annetta Black,Ghoat...",2014-08-09 00:00:00,"World's Largest Potted Plant,Dick Whittington’...","Jewett City Vampires,Tomb of the Mather Family...",https://www.atlasobscura.com/places/highgate-c...
0,City Hall Station,"subways,subterranean,infrastructure,subterrane...",1834,8603,The first New York City subway was built and o...,A beautiful and abandoned New York subway stat...,"The Sugar House Prison Window,Tunnel Number 3,...","31 Centre St New York, New York, 10007 United ...",40.7134,-74.0046,"Rebekah Otto,Annetta Black,Allan,charding407,w...",2010-05-08 00:00:00,"African Burial Ground National Monument,Tunnel...","Crystal Palace Subway,Moscow Metro Stations,Ro...",https://www.atlasobscura.com/places/city-hall-...

## Data Cleaning

- remove punctuation 
- remove stopwords 
- stemming

In [ ]:


def remove_punctuations(string):
    # first we remove the punctuations
    # in order to do it we need to tekenize the string with the function tokenize and then applying the function RegexpTokenizer
    return RegexpTokenizer(r'\w+').tokenize(string)


def stemming(string):
    # now we move forward with the stemming
    porter = PorterStemmer()
    string_stem=[porter.stem(word) for word in string]
    # we can now return the cleaned string 
    return string_stem

def remove_stopwords(string):
    # after this we can now remove all the stopwords in each word in string_t
    return  [word for word in string if not word.lower() in set(stopwords.words("english"))]
    # now we move forward with the stemming

## 2.1

In [ ]:
#The first dictionary where every key is a word and it's value is the corrispondant number to that word

def createFirstDic(data):
    dic = {}
    value = 1
    for description in tqdm(data["placeDesc"]):
        #Cleaning the data
        description = remove_punctuations(description)
        description = remove_stopwords(description)
        description = stemming(description)
        for word in description:
            if word in dic.keys():
                continue
            else:
                dic[word] = value
                value += 1
    return dic

In [ ]:
dic1 = createFirstDic(data)

In [ ]:
len(dic1)

## 2.1.1 Creating your index

In [ ]:
def createSecondDic(data, dic1):
    dic2 = {}
    a = 0
    for description in data["placeDesc"]:
        #Cleaning the data
        description = remove_punctuations(description)
        description = remove_stopwords(description)
        description = stemming(description)
        for word in description:
            if dic1[word] in dic2.keys():
                dic2[dic1[word]].add(data.placeName[a])
            else:
                dic2[dic1[word]] = set([data.placeName[a]])
            # print(dic2)
        a += 1
    return dic2

In [ ]:
dic2 = createSecondDic(data,dic1)

In [ ]:
def save_dic(dic):
    w = csv.writer(open("dic1.csv", "w", encoding="utf8"))
    for key, val in dic.items():
        print(key)
        print(val)
        w.writerow([key,val])

In [ ]:
save_dic(dic1)

## 2.1 Execute the query

In [ ]:
def query(list):
    s = dic2[dic1[list[0]]]
    for x in range(1, len(list)):
        s.intersection(dic2[dic1[list[x]]])
    return s

In [ ]:
s = query(["class", "including"])

res_query = data[data['placeName'].isin(list(s))]

In [ ]:
res_query.head()

## 2.2 Conjunctive query & Ranking score

In [ ]:
def stem_text(txt):
    return [word for word in txt.split(' ')]

In [ ]:
data['list_words'] = data.placeDesc.apply(lambda row: stem_text(row))

In [ ]:

vectorizer = TfidfVectorizer(use_idf=True)
x =vectorizer.fit_transform(data.placeDesc).todense()
df = pd.DataFrame(x, columns = 
vectorizer.get_feature_names())
df
#vectorizer.vocabulary_

In [ ]:
def createInvertedIndex(data, dic1):
    dic2 = {}
    a = 0
    for description in data["placeDesc"]:
        description = description.replace('\'',"")
        description = description.replace('[',"")
        description = description.replace(']',"")
        for word in description.split():
            if dic1[word] in dic2.keys():
                dic2[dic1[word]].add(data.placeName[a])
            else:
                b = []
                dic2[dic1[word]] = set([data.placeName[a]])
            # print(dic2)
        a += 1
    return dic2